html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#141e30, #243b55);
    background-image: url(../image/anh-bau-troi-dep-tren-bien_042053181.jpg);
  }
  .signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(46, 33, 134, 0.5); 
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(80, 44, 158, 0.6); 
    border-radius: 10px;
  }
  
  .signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .signup-box .user-box {
    position: relative;
  }
 
  .signup-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: transparent;
  }
  .signup-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #03e9f4;
    pointer-events: none;
    transition: .5s;
  }
  
  .signup-box .user-box input:focus ~ label,
  .signup-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
 .sendOTP  {
    background-color: rgba(20, 17, 222, 0.986);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 220px;
    font-size: 12px;
  }
  a{
    color: white;
  }
  h1{
    color: blue;
    font-size: 45px;
  }
  .submitt{
    background-color: rgba(20, 17, 222, 0.986);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
